version: "3.9"
services:
  api:
    build: .
    image: llm-api:latest
    env_file:
      - .env
    environment:
      # You can still override specific values here if needed
      - PYTHONUNBUFFERED=1
    volumes:
      # Mount local base model into the container (read-only)
      - C:/Users/kunal/Desktop/college/capstone/training/model_tf_base/full_model:/models/t5-base:ro
      # (Optional) local buckets for dev if you want to test OBJECT_STORE_IMPL=local
    ports:
      - "8080:8080"
    networks:
      - llmnet
  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - ./minio-data:/data
    networks:
      - llmnet

networks:
  llmnet:
    driver: bridge
